@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ead7ba;
  -webkit-text-fill-color: #ead7ba;
  -webkit-box-shadow: 0 0 0px 1000px #233C3B inset;
  transition: background-color 5000s ease-in-out 0s;
}


.pagination {
  @apply relative block mt-4 px-3 rounded border-0 outline-none transition-all duration-300 rounded text-[#233c3b] hover:text-[#233c3b]/60 focus:shadow-none ;
}

.big-text {
  @apply w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-primary/70 bg-clip-padding border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
  m-0
  focus:text-gray-700 focus:bg-secondary focus:border-primary focus:outline-none 
}

.facilities-box {
  @apply w-48 px-4 py-8 mr-8  font-semibold text-gray-700 
  rounded-xl transition ease-in-out flex flex-col items-center tracking-wide uppercase
hover:border-[#233c3b] hover:border-solid transition-colors duration-300
}

.button-select {
  @apply min-w-fit mx-36 py-10 text-xl font-semibold text-gray-700 bg-primary/70 bg-clip-padding border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
   hover:border-[#233c3b] hover:border-4 transition-colors duration-300 
  focus:text-gray-700 focus:bg-secondary focus:border-primary focus:border-4 focus:outline-none
}

.search-text {
  @apply w-full mr-8 pl-10 py-2.5 2xl:py-5 text-base font-normal text-gray-700 bg-primary/70 bg-clip-padding border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
  
  m-0 placeholder-[#233c3b] hover:placeholder-[#233c3b]/80 transition-colors duration-300 
  focus:text-gray-700 focus:bg-secondary focus:border-primary focus:outline-none 
}

.search-date {
  @apply w-full mr-8 pl-10 py-2.5 2xl:py-5 text-base font-normal text-gray-700 bg-primary/70 bg-clip-padding border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
  
  m-0 placeholder-[#233c3b] hover:placeholder-[#233c3b]/80 transition-colors duration-300 
}

.price-text {
  @apply w-fit py-8 text-2xl text-center font-bold text-gray-700 bg-primary/70 bg-clip-padding border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
  outline-none appearance-none
  m-0 placeholder-[#233c3b] hover:placeholder-[#233c3b]/80 transition-colors duration-300 
  focus:text-gray-700 focus:bg-secondary focus:border-primary focus:outline-none 
}

.price-range {
  @apply py-8 text-base text-center font-bold text-gray-700 bg-primary/70 bg-clip-padding border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
  outline-none appearance-none
  m-0 placeholder-[#233c3b] hover:placeholder-[#233c3b]/80 transition-colors duration-300 
  focus:text-gray-700 focus:bg-secondary focus:border-primary focus:outline-none 
}

.select-text {
  @apply appearance-none
  block
  w-full
  pl-10 pr-3
  py-2.5 2xl:py-5
  text-base
  font-normal
  text-gray-700 bg-primary/70 bg-clip-padding bg-no-repeat
  border border-solid border-gray-300
  rounded-xl
  transition
  ease-in-out
  m-0
  focus:text-gray-700 focus:bg-secondary focus:outline-none 
}